<nav id="header">
  <div class="nav-content">
    <!-- <div class="place-holder" style="padding-left:10px">
    </div> -->
    <div align="center" class="nav-links">
      <%= link_to "Home", root_path, class: "top_link" %> | 
      <%= link_to "Articles", articles_path, class: "top_link" %> | 
      <%= link_to "Reset DB", root_path(r: "true"), id: "top_link" %>
    </div>
  </div>
</nav>
