// Place all global styles for the entire app  here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*          FONTS         */


@font-face {
  font-family: 'Titillium Web'; 
  src: url('titillium_web/TitilliumWeb-Regular.ttf');
}

/*       Color Vars       */

$main-bg-color: #255E7B;
$nav-bg-color: #063156;
$text-color: #47DAC1;
$header-color: #5BC6A6;
$link-color: #F1D13D;
//$link-hover: #fbd422;
$link-hover: #ff2d00;

/*       Color Vars       */



body {
  background: $main-bg-color;
  font-family: Titillium Web;
  color: $text-color;
}
nav {
  background: $nav-bg-color;
  margin: -4px;
  height: 30px;
  padding-top: 11px;
  border-radius: 25px; 
}
h1, h2, h3, h4, h5, h6, h7, th {
    color: $header-color;
} 
a {
  color: $link-color;
}
a:hover {
  color: $link-hover;
}

.content-container {
  border: 1px solid;
  max-width: 600px;
  width: auto;
  height: auto;
  align: center;
}

.read {
  background-color: grey;
}
